{% extends "layout.html" %}

{% block title %}Staff {% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='staff_home_page_style.css') }}">
{% endblock %}

{% block navbar %}
<nav class="staff-nav">
  <div class="nav-wrapper">
  
    <a href="#!" class="brand-logo left staff-brand">
      Welcome {{ current_user.staff_id if current_user else "StaffID" }}!
    </a>

    <ul id="nav-mobile" class="right">

      <!-- HOME -->
      <li>
        <a href="{{ url_for('index_views.staff_home_page') }}"
           {% if active_tab == 'home' %}class="active-tab"{% endif %}>
          Home
        </a>
      </li>

      <!-- REQUESTS -->
      <li>
        <a href="{{ url_for('staff_views.staff_pending_requests_page') }}"
           {% if active_tab == 'requests' %}class="active-tab"{% endif %}>
          Requests
        </a>
      </li>

      <!-- LEADERBOARDS -->
      <li>
        <a href="#"
           {% if active_tab == 'leaderboards' %}class="active-tab"{% endif %}>
          Leaderboards
        </a>
      </li>

      <!-- STUDENT HOURS -->
      <li>
        <a href="{{ url_for('index_views.staff_student_hours_page') }}"
           {% if active_tab == 'student_hours' %}class="active-tab"{% endif %}>
          Student Hours
        </a>
      </li>

      <!-- LOG OUT -->
      <li>
        <a href="{{ url_for('auth_views.logout_action') }}">Log Out</a>
      </li>

    </ul>
  </div>
</nav>
{% endblock %}
