{% extends "layout.html" %}

{% block title %}Staff {% endblock %}

{% block navbar %}
<nav class="blue darken-2">
  <div class="nav-wrapper">
  
    <a href="#!" class="brand-logo left" style="margin-left: 15px;">
      Welcome {{ current_user.staff_id if current_user else "StaffID" }}!
    </a>

    <ul id="nav-mobile" class="right">

      <!-- HOME -->
      <li>
        <a href="{{ url_for('index_views.staff_home_page') }}"
           {% if active_tab == 'home' %}class="white-text text-darken-4"{% endif %}>
          Home
        </a>
      </li>

      <!-- REQUESTS (placeholder for now) -->
      <li>
        <a href="#"
           {% if active_tab == 'requests' %}class="white-text text-darken-4"{% endif %}>
          Requests
        </a>
      </li>

      <!-- LEADERBOARDS (placeholder for now) -->
      <li>
        <a href="#"
           {% if active_tab == 'leaderboards' %}class="white-text text-darken-4"{% endif %}>
          Leaderboards
        </a>
      </li>


      <!-- STUDENT HOURS -->
      <li>
        <a href="{{ url_for('index_views.staff_student_hours_page') }}"
           {% if active_tab == 'student_hours' %}class="white-text text-darken-4"{% endif %}>
          Student Hours
        </a>
      </li>

      <!-- LOG OUT -->
      <li>
        <a href="{{ url_for('auth_views.logout_action') }}">Log Out</a>
      </li>

    </ul>
  </div>
</nav>
{% endblock %}
