{% extends "student_layout.html" %} {%block styles%}
<style>
  .sub-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    gap: 80px;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .requests-container {
    color: white;
    height: 250px;
    width: 400px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: #0da1db;
    background: linear-gradient(
      214deg,
      rgba(13, 161, 219, 0.6) 0%,
      rgba(46, 134, 179, 0.57) 50%,
      rgba(36, 164, 214, 0.69) 100%
    );
  }
  .request-form {
    color: white;
    padding: 20px;
    height: 520px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: #0da1db;
    background: linear-gradient(
      214deg,
      rgba(13, 161, 219, 0.6) 0%,
      rgba(46, 134, 179, 0.57) 50%,
      rgba(36, 164, 214, 0.69) 100%
    );
  }
  .request-form .form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 20px;
  }
  .form-field {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .form-field input {
    width: 300px;
  }
</style>
{% endblock %} {% block content %}
<div class="container" style="margin-top: 20px">
  {# flash messages #} {% with messages =
  get_flashed_messages(with_categories=true) %} {% if messages %} {% for
  category, msg in messages %}
  <div
    id="flash-message"
    class="card-panel {{ 'red lighten-4' if category == 'error' else 'green lighten-4' }}"
  >
    {{ msg }}
  </div>
  {% endfor %} {% endif %} {% endwith %}

  <div class="sub-container">
    <div id="dashboard" class="dashboard">
      <div id="recent-requests" class="requests-container">
        <h5>Closed Requests</h5>
        <h6>Approved Request</h6>
        {%for request in approved_request %}
        <p>
          Title: {{request.title}} | Hours: {{request.hours}} | Description:
          {{request.description}} |
        </p>
        {%endfor%}
        <h6>Denied Request</h6>
        {%for request in denied_requests %}
        <p>
          Title: {{request.title}} | Hours: {{request.hours}} | Description:
          {{request.description}} |
        </p>
        {%endfor%}
      </div>

      <div id="pending-requests" class="requests-container">
        <h5>Pending Requests</h5>
        {%for request in pending_requests %}
        <p>
          Title: {{request.title}} | Hours: {{request.hours}} | Description:
          {{request.description}} |
        </p>
        {%endfor%}
      </div>
    </div>
    <div id="request-form" class="request-form">
      <h5>Request Hours</h5>
      <div class="form">
        <form
          id="requestForm"
          method="POST"
          action="/student/home"
          style="padding: 1em"
        >
          <div class="form-field">
            <div>Title:</div>
            <div class="input-field col s12">
              <input
                id="title"
                name="title"
                type="text"
                class="validate"
                style="color: white"
                required
              />
              <label for="title"></label>
            </div>
          </div>
          <div class="form-field">
            <div>Hours:</div>
            <div class="input-field col s12">
              <input
                name="hours"
                id="hours"
                type="text"
                class="validate"
                style="color: white"
                required
              />
              <label for="hours"></label>
            </div>
          </div>
          <div class="form-field">
            <div>Description:</div>
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1"></label>
            </div>
          </div>
          <div class="row justify-content">
            <div class="col s6">
              <button type="reset" class="btn grey lighten-1 waves-effect">
                Clear
              </button>
            </div>
            <button type="submit" class="btn green lighten-2 waves-effect">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% block scripts %}
<script>
  setTimeout(() => {
    document.querySelectorAll("#flash-message").forEach((msg) => {
      msg.style.transition = "opacity 0.5s";
      msg.style.opacity = 0;
      setTimeout(() => msg.remove(), 500);
    });
  }, 5000);
</script>
{%endblock%} {% endblock %}
